<!-- <p>I am {$age} years old</p>
<p>I am a <gt name="age" value="18">man<else/>child</gt></p>
<volist name="likes" id="like">
			<p>I like {$like}</p>
</volist>
<p>
	<empty name="money" >I have no money,but I am aggressive ,ambition</empty>
</p>
 -->

 <!-- <form action="/thinkphp/home/index/createUser" method="POST">
 	user name:<input type="text" name="user_name"><br/>
 	email:<input type="text" name="email"><br/>
 	password<input type="password" name="password"><br/>
 	<input type="submit"  value="login">
 </form> -->
 <html>
 <head>
 	<style type="text/css">
 	*{
 		margin: 0;
 		padding:0;
 	}
	.div{
		height: 100%;
		background-color: #0ba;
	}
 	</style>
 </head>
 <body>
 <div class='div'>
 	<literal>
 		<if condition="$num eq 0">
 			num is equal to 0
 		<elseif  condition="$num lt 0"/>
	        num is smaller than 0
	     <else/>
	     	num is bigger than 0
	    </if>
 	</literal>
 </div>
</body>
 </html>
 