<extend name="Public:base"/>
<block name="Tab">
	<ul>
		<li>Home</li>
		<li>Device</li>
		<li>Data</li>
		<li>Show</li>
		<li>About Us</li>
	</ul>
</block>
<block name="Left">
	<ul>
		<li>new1</li>
		<li>new1</li>
		<li>new1</li>
		<li>new1</li>
		<li>new1</li>
		<li>new1</li>
		<li>new1</li>
		<li>new1</li>
		<li>new1</li>
		<li>new1</li>
	</ul>
</block>
<block name="Main">
	<div class="main">
		<div class="container" style="height:500px;background:#006699;"></div>
	</div>
</block>
<block name="Right">
	<ul>
		<li>Report1</li>
		<li>Report1</li>
		<li>Report1</li>
		<li>Report1</li>
		<li>Report1</li>
		<li>Report1</li>
	</ul>
</block>
<block name="Footer">
	<div class="footer">
		<div class="container">
			<p>Contact us | Suggestion</p>
			<p>http://www.vekou.com All Rights Reserved</p>
		</div>
	</div>
</block>
