<!DOCTYPE HTML>
<html>
<head>
	<title>index page</title>
	<meta  charset="utf-8">
	<link rel="stylesheet" type="text/css" href="__CSS__/Index/header.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/Index/index.css">
	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="bookmark" href="../favicon.ico">

</head>
<body>
	<!-- <div class="header">
		<div class="container">
			<div class="header-top">
				<h1 class="header-title">核辐射数据采集与管理系统</h1>
			</div>
			<div class="nav">
				<ul class="nav-items">
					<li class="nav-item"><a href="">首   页</a></li>
					<li class="nav-item"><a href="">数据采集</a></li>
					<li class="nav-item"><a href="">数据查询</a></li>
					<li class="nav-item"><a href="">数据处理</a></li>
					<li class="nav-item"><a href="">关于我们</a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div> -->
	<div class="header">
		<div class="container">
			<div class="header-top">
				<h1 class="header-title">核辐射数据采集与管理系统</h1>
			</div>
			<div class="nav">
				<ul class="nav-items">
					<li class="nav-item"><a href="__MODULE__/Index">首   页</a></li>
					<li class="nav-item"><a href="__MODULE__/Datapick">数据采集</a></li>
					<li class="nav-item"><a href="__MODULE__/Dataquery">数据查询</a></li>
					<li class="nav-item"><a href="__MODULE__/Dataprocess">数据处理</a></li>
					<li class="nav-item"><a href="__MODULE__/Aboutus">关于我们</a></li>
				</ul>
			</div>

		</div>
	</div>
	<div class="main">
		<div class="container">
			<div class="focus-img-box">
				<div class="focus-img">
					<img class="img1" src="__IMAGES__/focus-img1.jpg" alt="">
					<img class="img2" src="__IMAGES__/focus-img2.jpg" alt="">
					<img class="img3" src="__IMAGES__/focus-img3.jpg" alt="">
					<img class="img4" src="__IMAGES__/focus-img4.jpg" alt="">
					<img class="img5" src="__IMAGES__/focus-img5.jpg" alt="">
				</div>
			    <div class="s-btns">
					<span id="0" class="s-btn on" ></span>
					<span id="1" class="s-btn"></span>
					<span id="2" class="s-btn"></span>
					<span id="3" class="s-btn"></span>
					<span id="4" class="s-btn"></span>
			    </div>
			</div>
			<div class="news-container">
				<div class="news-box">
					<div class="box-title"><h2>最新动态</h2><span><a href="__URL__/moreContent?type=1">更多&gt;&gt;</a></span></div>
					<div class="clearfix"></div>
					<ul class="news-ul">
						<!-- <li class="news-item"><a href="">核辐射数据采集与管理系统</a></li>
						<li class="news-item"><a href="">核辐射数据采集与管理系统</a></li>
						<li class="news-item"><a href="">核辐射数据采集与管理系统</a></li>
						<li class="news-item"><a href="">核辐射数据采集与管理系统</a></li>
						<li class="news-item"><a href="">核辐射数据采集与管理系统</a></li>
						<li class="news-item"><a href="">核辐射数据采集与管理系统</a></li> -->
						<volist name="newsData" id="no">
						    <li class="news-item"><a href="__URL__/showNews?id=<{$no.id}>"><{$no.title}>【文|<{$no.author}>】</a></li>
						</volist>
					</ul>
				</div>
				<div class="news-box">
					<div class="box-title"><h2>学术交流</h2><span><a href="__URL__/moreContent?type=2">更多&gt;&gt;</a></span></div>
					<div class="clearfix"></div>
					<ul class="news-ul">
						<!-- <li class="news-item"><a href="">核辐射数据采集与管理系统</a></li>
						<li class="news-item"><a href="">核辐射数据采集与管理系统</a></li>
						<li class="news-item"><a href="">核辐射数据采集与管理系统</a></li>
						<li class="news-item"><a href="">核辐射数据采集与管理系统</a></li>
						<li class="news-item"><a href="">核辐射数据采集与管理系统</a></li>
						<li class="news-item"><a href="">核辐射数据采集与管理系统</a></li> -->
						<volist name="reportData" id="ro">
						    <li class="news-item"><a href="__URL__/showReport?id=<{$ro.id}>"><{$ro.title}>【作者:<{$ro.author}>】</a></li>
						</volist>
					</ul>
				</div>
				<div class="news-box">
					<div class="box-title"><h2>通知公告</h2><span><a href="__URL__/moreContent?type=3">更多&gt;&gt;</a></span></div>
					<div class="clearfix"></div>
					<ul class="news-ul">
						<!-- <li class="news-item"><a href="">核辐射数据采集与管理系统</a></li>
						<li class="news-item"><a href="">核辐射数据采集与管理系统</a></li>
						<li class="news-item"><a href="">核辐射数据采集与管理系统</a></li>
						<li class="news-item"><a href="">核辐射数据采集与管理系统</a></li>
						<li class="news-item"><a href="">核辐射数据采集与管理系统</a></li>
						<li class="news-item"><a href="">核辐射数据采集与管理系统</a></li> -->
						<volist name="noticeData" id="no">
						    <li class="news-item"><a href="__URL__/showNotice?id=<{$no.id}>">
						    <eq name="no.important" value="3">
						    <font color='red'><{$no.title}></font>
						    </eq>
						    <eq name="no.important" value="2">
						    <font color='green'><{$no.title}></font>
						    </eq>
						    <eq name="no.important" value="1">
						    <font color='black'><{$no.title}></font>
						    </eq>
						    </a></li>
						</volist>
					</ul>
				</div>
				<div class="clearfix"></div>
		    </div>
		</div>
	</div>
	<div class="footer">
        
		<div class="container">
			<p class="contact"><a href="">联系我们:19941222hb@gmail.com</a>|<a href="__URL__/logoShow">管理员登录</a></p>
			<p class="statement">Copyright 2015,All Rights Reserved. <span><a href="">智能信号检测与核仪器组</a></span> 版权所有 复制必究</p>
		</div>
	</div>
</body>
<script type="text/javascript" src="__JS__/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="__JS__/Index/index.js"></script>
</html>